*,
*::before,
::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.text-bold {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #00FF19;
}
.text-25px {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #DDDDDD;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}
.logo__bg {
  position: absolute;
  width: 498px;
  height: 118px;
  left: 50px;
  top: 25px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  border-radius: 100px;
}

.logo__text {
  position: absolute;
  width: 464.58px;
  height: 90px;
  left: 70px;
  top: 35px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + (96 - 20) * ((100vw - 360px) / (1980 - 360)));
  line-height: 112px;
  color: #05FF00;
  text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.25);
  span {
    color: #fff;
  }
}

.login-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 444px;
  height: 519px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  .login-menu__login, .login-menu__password {
    width: 100%;
  }
  .login-menu__login, .login-menu__password {
    .text-bold {
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 15px;
    }
  }
}
input {
  width: 100%;
}
.login-menu__button {
  background-color: #fff;
  padding: 5px 75px;
  border-radius: 10px;
  margin: 40px 0;
}
.login-menu__button:hover {
  color: #00FF19;
  text-decoration: none;
}
.login-menu__forgot-password:hover {
  color: #DDDDDD;
  text-decoration: none;
}
.check-button {
  position: absolute;
  width: 340px;
  height: 100px;
  right: 50px;
  bottom: 30px;

  background: rgba(70, 178, 52, 0.4);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}