*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.text-bold {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
}

.text-25px {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #b3b3b3;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.logo__bg {
  position: absolute;
  width: 498px;
  height: 118px;
  left: 50px;
  top: 25px;
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 100px;
}

.logo__text {
  position: absolute;
  width: 464.58px;
  height: 90px;
  left: 70px;
  top: 35px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + (96 - 20) * ((100vw - 360px) / (1980 - 360)));
  line-height: 112px;
  color: #05FF00;
  text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.25);
}

.logo__text span {
  color: #fff;
}

.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  width: 444px;
  height: 519px;
  background: rgba(159, 255, 142, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
}

.login-menu .login-menu__password {
  margin-top: 50px;
}

.login-menu .login-menu__login, .login-menu .login-menu__password {
  width: 100%;
}

.login-menu .login-menu__login .text-bold, .login-menu .login-menu__password .text-bold {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0;
}

input:active {
  outline: none;
}

input:focus {
  outline: none;
}

.login-menu__button {
  background-color: #fff;
  padding: 6px 75px;
  border-radius: 10px;
  margin: 40px 0;
  color: #2fd440;
}

.login-menu__button:hover {
  color: #2fd440;
  text-decoration: none;
}

.login-menu__forgot-password {
  color: #DDDDDD;
}

.login-menu__forgot-password:hover {
  color: #DDDDDD;
  text-decoration: none;
}

.check-button {
  position: absolute;
  width: 340px;
  height: 100px;
  right: 50px;
  bottom: 30px;
  background: rgba(159, 255, 142, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */